html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    animation: gradient 15s ease infinite;
    background: #f5f5f5 linear-gradient(-45deg, #d1ffe6, #9ce5a8, #b0d1ec, #23d5ab) no-repeat fixed;
    background-size: 400% 400%;
}

@keyframes introHeader {
    0% {
        height: 100%;
        opacity: 1;
    }
    25% {
        height: 100%;
        opacity: 1;
    }
    75% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 100px;
        opacity: 0;
    }
}

#introBlock{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: #3b7b81;
    animation: introHeader 1.5s cubic-bezier(1,0,0,1) forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    25% {
        transform: translateX(5%);
        opacity: 0;
    }
    75% {
        transform: translateX(-5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    25% {
        transform: translateX(-5%);
        opacity: 0;
    }
    75% {
        transform: translateX(5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideFirst {
    0% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideLast {
    0% {
        transform: translateY(5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.slideUp {
    animation: slideUp 0.5s cubic-bezier(0,0,0,1) forwards;
}

.slideLeft {
    animation: slideLeft 0.5s cubic-bezier(0,0,0,1) forwards;
}

.slideRight {
    animation: slideRight 0.5s cubic-bezier(0,0,0,1) forwards;
}

.slideFirst {
    animation: slideFirst 0.5s cubic-bezier(0,0,0,1) forwards;
}

.slideLast {
    animation: slideLast 0.5s cubic-bezier(0,0,0,1) forwards;
}

header{
    font-family: 'Verdana', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #3b7b81;
    color: white;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

#gallery_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.vignette{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: 0.5s cubic-bezier(0.1,0,0,1);
    cursor: pointer;
    overflow: hidden;
    border: 4px solid #ffffff;
}

.vignette:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    z-index: 0;
    animation: box_shadow_rgb 5s ease infinite;
}

button{
    font-family: Arial, sans-serif;
    border: 3px solid #1d5162;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: #1d5162;
    transition: 0.5s cubic-bezier(0,0,0,1);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    text-align: center;
    padding: 10px;
    line-height: 1em;
    outline: none;
}

button:hover{
    transform: scale(1.1);
    background-color: #1d5162;
    color: white;
}

.vignette:active{
    transform: scale(0.9);
}

button:active{
    transform: scale(0.9);
}

img {
    max-width: 100%;
    height: auto;
}

#la_photo {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
    backdrop-filter: blur(5px);
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 99;
}

#la_photo img {
    border-radius: 20px;
}

#photoScreen {
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.hided {
    display: none;
}

#close_gallery {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#gallery_container{
    width: 100%;
    overflow: hidden;
}

#la_photo img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
}

.showed {
    display: block;
}